/* Container do formulário de Esqueci minha Senha */
.containerEsqueciSenha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    max-width: 500px;
    margin: 60px auto; /* Distância da parte superior e inferior */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Título */
  .h1EsqueciSenha {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Subtítulo */
  .pEsqueciSenha {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
  }
  
  /* Formulário */
  .formesquecisenha {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo dos campos de entrada */
  .inputesquecisenha {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
  }
  
  .inputesquecisenha:focus {
    outline: none;
    border-color: #ff9900; /* Cor laranja para foco */
  }
  
  /* Estilo para o CAPTCHA */
  .captchaContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  
  .captchaText {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Botão de Enviar */
  .buttonesquecisenha {
    padding: 12px 25px;
    background-color: #ff9900;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .buttonesquecisenha:hover {
    background-color: #e68900;
  }
  
  .buttonesquecisenha:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  /* Mensagens de sucesso e erro */
  .success {
    color: #4CAF50;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  .error {
    color: #ff4d4d;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  