/* Container principal do registro */
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f7f7f7; /* Fundo suave */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 500px; /* Largura máxima */
    margin: auto; /* Centraliza o contêiner */
}

/* Títulos e subtítulos */
h1 {
    font-size: 28px;
    color: #333; /* Texto escuro */
    margin-bottom: 10px; /* Margem inferior */
}


/* Estilização do formulário */
.form {
    width: 100%; /* Largura total */
}

/* Estilos dos rótulos */
label {
    display: flex;
    flex-direction: column; /* Coloca o texto acima do input */
    margin-bottom: 20px; /* Espaçamento entre os campos */
}

/* Estilos dos campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda suave */
    border-radius: 4px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
    transition: border-color 0.3s; /* Transição suave */
}

/* Efeito ao focar nos campos */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007BFF; /* Cor da borda ao focar */
    outline: none; /* Remove contorno padrão */
}

/* Estilização da seção de Termos */
.terms {
    font-size: 14px; /* Tamanho da fonte */
    color: #555; /* Texto cinza */
}

/* Estilo do botão */
.buttonContainer {
    margin-top: 20px; /* Espaçamento superior */
}

.btn {
    background-color: #007BFF; /* Cor do botão */
    color: white; /* Texto branco */
    border: none; /* Remove borda padrão */
    padding: 12px 20px; /* Espaçamento interno */
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer; /* Cursor de ponteiro */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s; /* Transição suave */
    width: 100%; /* Largura total */
}

/* Efeito ao passar o mouse sobre o botão */
.btn:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}

/* Estilo do botão desativado */
.btn:disabled {
    background-color: #ccc; /* Cor de fundo para botão desativado */
    cursor: not-allowed; /* Cursor desabilitado */
}

/* Mensagem de erro */
.error {
    color: #d9534f; /* Vermelho para mensagens de erro */
    font-size: 14px; /* Tamanho da fonte */
    margin-top: 10px; /* Margem superior */
}
