.register {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    font-family: 'DM Sans', sans-serif;
  }
  
  .registerH1 {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
  }
  
  .registerp {
    font-size: 16px;
    text-align: center;
    color: #666;
    margin-bottom: 20px;
  }
  
  .formregister {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .labelregister {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
  
  .spanregister {
    margin-bottom: 5px;
  }
  
  .spansenharegister {
    margin-bottom: 5px;
  }
  
  .inputregister {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
  }
  
  .inputregister:focus {
    border-color: #ff9900; /* Laranja claro */
    outline: none;
  }
  
  .terms {
    font-size: 14px;
    color: #666;
  }
  
  .labelderegister {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .labelderegister a {
    color: #ff9900;
    text-decoration: none;
  }
  
  .labelderegister a:hover {
    text-decoration: underline;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  button.btn {
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  button.btn:hover:not(:disabled) {
    background-color: #e68a00;
  }
  
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  