/* Home.module.css */

.home {
    /* Outras propriedades que você pode ter */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_form {
    margin-bottom: 20px;
}

.noposts {
    text-align: center;
}

/* Estilos para PostDetail (supondo que você tenha uma classe específica) */
.postDetail {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não couberem */
    justify-content: center; /* Centraliza os itens na tela */
}

.postDetail img {
    width: calc(50% - 10px); /* Ajusta a largura para 50% menos margem */
    height: auto; /* Mantém a proporção da imagem */
    margin: 5px; /* Adiciona espaço entre as imagens */
    border-radius: 8px; /* Adiciona bordas arredondadas, se desejar */
    object-fit: cover; /* Garante que a imagem cubra o espaço definido */
}
