.footer {
    background-color: #F28C38; /* Cor de fundo do rodapé */
    color: #FFFFFF; /* Cor do texto */
    font-family: 'Arial', sans-serif; /* Fonte moderna */
    padding: 40px 20px; /* Espaçamento interno */
}

.container {
    display: flex; /* Usando Flexbox para layout responsivo */
    justify-content: space-between; /* Espaço entre os itens */
    max-width: 1200px; /* Limita a largura do rodapé */
    margin: 0 auto; /* Centraliza o container */
}

.info {
    flex: 1; /* Permite que a seção de informações ocupe mais espaço */
    margin-right: 20px; /* Espaço à direita */
}

.title {
    font-size: 1.8rem; /* Tamanho do título */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.links {
    flex: 1; /* Seção de links ocupa espaço igual */
}

.linkTitle {
    font-size: 1.5rem; /* Tamanho do título dos links */
    margin-bottom: 10px; /* Espaçamento inferior */
}

ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding padrão */
}

.link {
    color: #FFFFFF; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado */
    transition: color 0.3s; /* Animação suave na cor */
}

.link:hover {
    color: #FFD700; /* Muda a cor ao passar o mouse */
}

.copyRight {
    font-size: 0.9rem; /* Tamanho da fonte do copyright */
    margin-top: 20px; /* Espaço superior */
}

.linkButton {
    background: none; /* Remove a cor de fundo */
    border: none; /* Remove a borda */
    color: inherit; /* Herda a cor do texto do elemento pai */
    text-decoration: underline; /* Adiciona o sublinhado para parecer um link */
    cursor: pointer; /* Muda o cursor para um ponteiro */
    padding: 0; /* Remove o preenchimento */
}

.linkButton:hover {
    color: #F28C38; /* Cor ao passar o mouse, se desejar */
}
