/* Estilo do Footer */
.footer {
  background-color: #ebebeb78; /* Fundo preto */
  color: #ff6a00; /* Texto laranja */
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.info,
.links {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.copyRight {
  font-size: 0.8rem;
  color: #888; /* Texto secundário mais discreto */
  margin-top: 10px;
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link,
.linkButton {
  color: #ff6a00; /* Cor laranja */
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.link:hover,
.linkButton:hover {
  color: #e65c00; /* Laranja mais escuro ao passar o mouse */
}

/* Responsividade */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .info,
  .links {
    margin: 10px 0;
  }
}
