/* Estilos para a Navbar */
/* Definir a fonte Poppins para o body */
body {
  font-family: 'Poppins', sans-serif;
}

/* Outros estilos onde você pode querer aplicar a fonte Poppins */
.brand {
  font-family: 'Poppins', sans-serif;
}

.navbar a {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #000; /* Cor de fundo preta */
  padding: 1rem 2rem; /* Espaçamento interno para uma boa aparência */
  display: flex;
  justify-content: space-between; /* Alinha os itens no espaço disponível */
  align-items: center; /* Alinha o conteúdo no centro vertical */
}

/* Estilos para o Link da Marca */
.brand {
  color: #fff;
  font-size: 1.5rem; /* Aumenta o tamanho da fonte */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.brand strong {
  color: #ff8400;
}

.brand:hover {
  color: #ff8400;
}

/* Estilos para o formulário de busca na navbar */
.search_formnavbar {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  max-width: 400px;
  width: 100%;
  margin-left: 0; /* Remove o espaçamento à esquerda */
}

/* Estilos para o campo de entrada de texto */
.search_inputnavbar {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 10px;
  outline: none;
  transition: background-color 0.3s ease;
}

.search_inputnavbar:focus {
  background-color: #444;
}

/* Estilos para o botão de busca */
.search_button {
  background-color: #ff8400;
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search_button:hover {
  background-color: #FFA500;
}

.search_button i {
  color: #000;
  font-size: 1.2rem;
}

/* Estilos para a lista de links de navegação */
.links_list {
  display: flex; /* Flexbox para alinhar os links */
  list-style-type: none; /* Remove o marcador de lista */
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove o preenchimento padrão */
}

.links_list li {
  margin: 0 1rem; /* Espaço entre os links */
}

/* Estilos para os links */
.links_list a {
  color: #fff; /* Texto branco para os links */
  font-size: 1rem; /* Tamanho de fonte padrão */
  text-decoration: none; /* Remove o sublinhado */
  font-weight: 500; /* Peso de fonte moderado */
  transition: color 0.3s ease; /* Transição suave para a mudança de cor */
}

/* Estilos para o link ativo */
.links_list a.active {
  color: #ff8400; /* Dourado para o link ativo */
}

/* Efeito de Hover nos links */
.links_list a:hover {
  color: #ff8400; /* Dourado no hover para links */
}

/* Estilos para o dropdown de perfil */
.profile {
  position: relative; /* Necessário para o posicionamento do dropdown */
}

/* Estilos para o botão de perfil */
.profileButton {
  background-color: transparent; /* Fundo transparente para o botão */
  border: none; /* Remove borda */
  color: #fff; /* Cor branca para o ícone */
  font-size: 1.5rem; /* Tamanho adequado para o ícone */
  cursor: pointer; /* Indica que o botão é clicável */
  transition: color 0.3s ease; /* Transição suave para a cor do ícone */
}

.profileButton:hover {
  color: #ff8400; /* Dourado ao passar o mouse sobre o botão */
}

/* Estilos para o dropdown */
.dropdown {
  position: absolute; /* Posiciona o dropdown em relação ao botão */
  top: 100%; /* Posiciona abaixo do botão */
  right: 0; /* Alinha o dropdown à direita */
  background-color: #333; /* Fundo escuro para o dropdown */
  border-radius: 8px; /* Bordas arredondadas */
  min-width: 150px; /* Largura mínima do dropdown */
  padding: 1rem; /* Espaçamento interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombras suaves para o dropdown */
  display: none; /* Inicialmente oculto */
  flex-direction: column; /* Organiza os itens do dropdown em coluna */
}

/* Mostra o dropdown quando o estado 'dropdownOpen' for verdadeiro */
.profile:hover .dropdown {
  display: flex; /* Exibe o dropdown quando o mouse passar sobre o perfil */
}

/* Estilos para as opções do dropdown */
.dropdownOption {
  color: #fff; /* Texto branco */
  text-decoration: none; /* Remove o sublinhado */
  font-size: 1rem; /* Tamanho de fonte */
  padding: 0.5rem 0; /* Espaçamento vertical */
  transition: color 0.3s ease; /* Transição suave para a cor */
}

/* Efeito de Hover nas opções do dropdown */
.dropdownOption:hover {
  color: #ff8400; /* Dourado ao passar o mouse nas opções */
}

/* Estilos para o botão de logout */
.logoutButton {
  background-color: transparent; /* Fundo transparente */
  color: #fff; /* Texto branco */
  border: none; /* Remove a borda */
  font-size: 1rem; /* Tamanho de fonte */
  padding: 0.5rem 0; /* Espaçamento vertical */
  width: 100%; /* Ocupa toda a largura do dropdown */
  text-align: left; /* Alinha o texto à esquerda */
  cursor: pointer; /* Cursor de clique */
  transition: color 0.3s ease; /* Transição suave para a cor */
}

/* Efeito de Hover no botão de logout */
.logoutButton:hover {
  color: #ff8400; /* Dourado ao passar o mouse no botão de logout */
}
