.navbar {
    display: flex; /* Garante que os itens dentro da navbar fiquem em linha */
    justify-content: space-between; /* Espaça os itens da navbar (marca à esquerda e links à direita) */
    align-items: center; /* Alinha verticalmente os itens */
    padding: 10px 20px;
    background-color: #f8f9fa;
  }

  .active {
    text-decoration: underline; /* Adiciona sublinhado ao link ativo */
    color: orange; /* Mantenha a cor laranja ou ajuste conforme necessário */
  }
  
  .links_list {
    list-style: none; /* Remove os marcadores padrão da lista */
    display: flex; /* Coloca os itens da lista em linha */
    margin: 0;
    padding: 0;
  }
  
  .links_list li {
    margin-right: 30px; /* Aumenta a distância entre os itens */
  }
  
  .links_list li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: rgb(227, 103, 2); /* Muda a cor do texto para laranja */
  }
  
  .links_list li a:hover {
    color: darkorange; /* Muda a cor ao passar o mouse para um tom mais escuro de laranja */
  }
  
  
  .profile {
    position: relative; /* Necessário para o dropdown funcionar corretamente */
    display: inline-block; /* Para que o botão de perfil fique na mesma linha que os links */
  }
  
  .profileButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .dropdown {
    position: absolute;
    top: 100%; /* Faz o dropdown aparecer abaixo do botão "Perfil" */
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1;
  }
  
  .dropdownItem {
    display: block;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }
  
  .logoutButton {
    display: block;
    padding: 10px 20px;
    width: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
    text-align: left;
  }
  
  .logoutButton:hover {
    background-color: #f0f0f0;
  }
  
  .active {
    text-decoration: underline; /* Adiciona sublinhado ao link ativo */
    color: orange; /* Mantenha a cor laranja ou ajuste conforme necessário */
  }