.oficina_detail {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  margin: 20px; /* Margem em volta do card */
  margin-top: 30px; /* Margem superior para separar os cards */
  transition: transform 0.2s ease;
}

.oficina_detail:hover {
  transform: scale(1.05);
}

.oficina_detail img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.favorite_icon {
  position: absolute;
  bottom: 10px; /* Distância do fundo */
  right: 10px; /* Distância da direita */
  background-color: transparent; /* Fundo transparente por padrão */
  border: none;
  color: #ff385c; /* Cor do ícone quando favoritado */
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s ease;
  display: flex; /* Torna o botão um contêiner flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 40px; /* Largura fixa do botão */
  height: 40px; /* Altura fixa do botão */
}

.favorite_icon:not(.favorited) {
  background-color: #d8d5d52f; /* Fundo cinza escuro quando não favoritado */
  border-radius: 20%; /* Para fazer o fundo redondo */
  padding: 0; /* Remover padding para garantir que o ícone fique centralizado */
}


.oficina_detail h2 {
  font-size: 16px; /* Tamanho da fonte reduzido */
  margin-top: 15px;
  font-weight: bold;
  color: #534d4d;
  text-align: left; /* Alinha o título à esquerda */
}

.oficina_detail p {
  text-align: left; /* Alinha os parágrafos à esquerda */
  margin: 5px 0; /* Margem vertical entre os parágrafos */
  font-size: 14px; /* Tamanho da fonte reduzido para parágrafos */
}

/* Classe para o botão centralizado */
.button_container {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
  margin-top: auto; /* Empurra o botão para o final do card */
  margin-top: 10px; /* Espaçamento acima do botão, se necessário */
}

.tags_container {
  position: absolute; /* Fixa a posição da caixa de tags */
  top: 10px; /* Distância do topo do card */
  left: 10px; /* Distância da esquerda do card */
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com leve transparência */
  padding: 5px 10px; /* Espaçamento interno da caixa */
  border-radius: 5px; /* Arredondar os cantos da caixa */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  display: flex; /* Flexbox para organizar as tags */
  flex-wrap: wrap; /* Permite que as tags quebrem para a próxima linha se necessário */
}

.tag {
  margin-right: 5px; /* Margem entre as tags */
  color: #d37121; /* Cor das tags (azul padrão) */
  font-size: 12px; /* Tamanho da fonte reduzido para tags */
}

.image_container {
  position: relative; /* Permite o posicionamento absoluto dos filhos */
}

.tag {
  position: absolute; /* Permite que a tag seja posicionada em relação ao contêiner pai */
  top: 10px; /* Distância do topo */
  left: 10px; /* Distância da esquerda */
  background-color: #ffffff58; /* Cor laranja (coral) */
  color: #ffffff; /* Cor do texto (branco) */
  padding: 5px 10px; /* Espaçamento interno */
  border-radius: 5px; /* Cantos arredondados */
  z-index: 1; /* Certifica-se de que a tag está acima da imagem */
}

.brief_description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 linhas */
  -webkit-box-orient: vertical;
  color: #666; /* Cor para a descrição, ajuste conforme necessário */
  margin: 10px 0; /* Margens para espaçamento */
}
