html, body {
  margin: 0;
  padding: 0;
}
/* Font Poppins para todos os links */
.navbar a,
.search_inputnavbar,
.search_button,
.links_list a,
.profileButton,
.dropdownOption,
.logoutButton {
  font-family: 'Poppins', sans-serif;
}
